{% extends "base.html.twig" %}

{% block title %}404{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <span>Page Not Found</span>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}