<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" type="text/css" href="css/style.css">
    {% block head %}
        <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
    </head>
    <body>
        {{ include('menu.html.twig') }}
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
                {% block footer %}
                    &copy; Copyright 2019 by <a href="#">ME</a>.
                {% endblock %}
    </div>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/script.js"></script>
    </body>
</html>