{% extends "base.html.twig" %}

{% block title %}Contact{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <span>Contact content block</span>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}