{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <span style="color:rgb(0, 38, 255)">{{message}}</span>
    RssNewsReader Home content block
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}